<?xml version="1.0" encoding="utf-8"?>
<serverSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <webPort>8080</webPort>
  <controlPort>8081</controlPort>
  <webRoot>D:/webserver</webRoot>
  <defaultPage>index.html</defaultPage>
  <dirListing>false</dirListing>
</serverSettings>